.centered-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}


.rowA {
  margin-bottom: 20px;
}

.rowA p {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.big-image {
  width: 100%;
  height: auto;
}

.small-image {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.custom-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}




.five-column-container {
  display: flex;
  border: 2px solid #ddd; /* Visible boundary around the container */
}

.column {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ddd; /* Visible boundary between columns */
}

.column:last-child {
  border-right: none; /* Remove right border for the last column */
}

.column p {
  margin: 0;
  font-size: 16px;
}

.row {
  margin-bottom: 10px;
}

/* Additional styles for rows and columns in Column 1 */
.column .row {
  display: flex;
}

.column .row img {
  width: 80px;
  height: 25px;
  margin-right: 10px;
}

.column .row p {
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.child {
  margin: 0 auto;
  border: 3px solid rgb(143, 216, 25);
}

.write {
  background-color: lightgreen;
  border-radius: 8px; /* Adjust the border-radius as needed */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border: 1px solid #ddd; /* Light border color */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.write:hover {
  color: teal;
  background-color: white;
  border: 1px solid teal;
}
